@page "/"
@inject NavigationManager Nav

<div style="
    min-height: 92vh; 
    display: flex; 
    justify-content: center;   /* centrerar horisontellt */
    align-items: flex-start;  /* flyttar upp till toppen */
    text-align: center;
    padding-top: 5rem;">

    <div>
        <MudText Typo="Typo.h1" Class="mb-3">
            Welcome to QuizGame!
        </MudText>
        
        <MudText Typo="Typo.subtitle1" Class="mb-5">
            Made by the boss
            <span style="
        color: rgba(20,157,255,0.8);
        text-shadow:
            0 0 4px rgba(57,255,20,0.4),
            0 0 8px rgba(57,255,20,0.4),
            0 0 14px rgba(20,255,220,0.4);
        font-weight: 600;
    ">
                FindingTheCode
            </span>
        </MudText>

        <MudButton 
            Size="Size.Large" 
            Variant="Variant.Filled" 
            Class="glow-button"
            Color="Color.Primary"
            OnClick="StartQuiz"
            Style="padding: 16px 40px; font-size: 1.1rem; border-radius: 12px;">
    
            Start Quiz
        </MudButton>
        


    </div>

</div>

<!-- Copyright längst ner -->
<div style="
    margin-top: auto; 
    padding-bottom: 16px; 
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;">
    
    <MudText Typo="Typo.caption" Color="Color.Secondary">
        © 2026 FindingTheCode. All rights reserved.
    </MudText>
</div>


@code {
    private void StartQuiz()
    {
        Nav.NavigateTo("categories");
    }
}
